@import url('https://cdn.jsdelivr.net/npm/@docsearch/css@3');

html.dark {
  --c-text: #fff;
}

.flexBox{
  display: flex;
}

img.mainImg{
  max-width: 250px;
}

img.imgInMd{
  max-width: 250px;
}

.navbar {
  .logo {
    // border-radius: 100%;
  }
}

p.left {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  img{
    width: 35px;
  }
}

.fontBig {
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: 0.3rem;
  font-weight: 700;
  margin: 10px 0;
}

.rainbow-text {
  --tw-gradient-from: #6d28d9;
  --tw-gradient-to: rgb(109 40 217 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #db2777;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media screen and (max-width: 600px) {
  img.mainImg{
    max-width: 100%;
  }

  img.imgInMd{
    max-width: 90%;
  }

  .theme-default-content {
    overflow-x: hidden;
  }

  p.left {
    img{
      width: 30px;
    }
  }
  .fontBig {
    font-size: 1.3rem;
    letter-spacing: 吽rem;
  }
}
