html.dark {
  --c-text: #fff;
}

.navbar {
  .logo {
    border-radius: 100%;
  }
}

p.left {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  img{
    width: 50px;
  }
}

.fontBig {
  font-size: 3.75rem;
  line-height: 1;
  letter-spacing: 0.3rem;
  font-weight: 700;
}

.rainbow-text {
  --tw-gradient-from: #6d28d9;
  --tw-gradient-to: rgb(109 40 217 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #db2777;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media screen and (max-width: 600px) {
  .theme-default-content {
    overflow-x: hidden;
  }

  p.left {
    img{
      width: 30px;
    }
  }
  .fontBig {
    font-size: 1.75rem;
    letter-spacing: 吽rem;
  }
}
